---
import { getCollection } from "astro:content";

import { getDateString } from "@utils/date";

import DefaultLayout from "@layouts/DefaultLayout.astro";
import SlashPageNav from "@components/SlashPageNav.astro";

const writing = await getCollection("writing");

const content = [...writing].sort((a, b) =>
  a.data.createdDate > b.data.createdDate ? -1 : 1,
);
---

<DefaultLayout title="writing">
  <div slot="main">
    {
      content.map((c) => (
        <article>
          <a href={`/writing/${c.id}`}>
            <h3>{c.data.title}</h3>
          </a>
          <p>{c.data.description}</p>
          <footer>
            <p>
              {"Last updated "}
              <time datetime={c.data.lastUpdatedDate}>
                {getDateString(c.data.lastUpdatedDate)}
              </time>
            </p>
            <a href={`/writing/${c.id}`}>Read More</a>
          </footer>
        </article>
      ))
    }
  </div>
  <div slot="secondary">
    <SlashPageNav />
  </div>
</DefaultLayout>
