---
import type { CollectionEntry } from "astro:content";
import ButtonLink from "./ButtonLink.astro";

interface Props {
  articleEntry: CollectionEntry<"articles">;
}

const { articleEntry } = Astro.props;

const getDateString = (isoString: string) => {
  const date = new Date(isoString);

  return date.toLocaleDateString(undefined, {
    weekday: "long",
    year: "numeric",
    month: "long",
    day: "numeric",
  });
};
---

<article class="article">
  <a href={`/writing/${articleEntry.id}`}>
    <h3>{articleEntry.data.title}</h3>
  </a>
  <p>{articleEntry.data.description}</p>
  <footer>
    <p class="pub-date">
      Last updated{" "}
      <time datetime={articleEntry.data.lastUpdatedDate}>
        {getDateString(articleEntry.data.lastUpdatedDate)}
      </time>
    </p>
    <ButtonLink to={`/writing/${articleEntry.id}`} label={"Read More"} />
  </footer>
</article>

<style>
  .pub-date {
    font-size: smaller;
    max-width: max-content;
    color: darkslategray;
  }
</style>
